<h4>Personajes</h4>

  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      [ngClass]="{
        'list-group-item-success': isLast,
        'list-group-item-dark': isEven
      }"
      *ngFor="
        let character of chList;
        let i = index;
        let isLast = last;
        let isEven = even;
        let isOdd = odd
      "
    >
      {{ i + 1 }} {{ character.name }} - {{ character.poder }}
      <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)">X</button>
    </li>
  </ul>
